* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 80px;
  cursor: pointer;
  order: 3;
  margin-left: auto;
}

nav {
  order: 1;
}

.cta {
  order: 2;
}

li,
a,
button {
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
  align-items: center;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 10px 20px;
}

.nav__links li:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

button {
  padding: 9px 25px;
  background-color: wheat;
  cursor: pointer;
}
